mixin renderExpItem(item)
    div.item
        div.title #{item.from} - #{item.to || 'Present time'}, #{item.position}

        div.subtitle
            span.company #{item.company}
            a(href=item.url) #{item.url}

        div.description #{item.description}

        h4 Primary Responsibilities:
        ul
            - each resp in item.responsibilities
                li #{resp}

        h4 Used technologies and tools:
        ul
            - each techs, group in item.technologies
                li #{group}: #{techs}


section#experience.block
    h3 Experience

    - each item in experience
        +renderExpItem(item)
