mixin renderExpItem(item, key)
    div.item(class='item-' + key)
        //div.logo
            img(src='images/companies/' + item.logo)

        div.title #{item.from} - #{item.to || 'Present time'}, #{item.position}

        div.subtitle
            span.company #{item.company}
            a(href=item.url, target='_blank') #{item.url}

        div.description #{item.description}

        div.list
            h4 Primary Responsibilities:
            ul
                - each resp in item.responsibilities
                    li #{resp}

        div.list
            h4 Used technologies and tools:
            ul
                - each techs, group in item.technologies
                    li #{group}: #{techs}


section#experience.block
    h3 Experience

    - each item, key in experience
        +renderExpItem(item, key)
