mixin stars(count)
    - var n = 0
    while n < 5
        - n++
        if n <= count
            i.icon-star
        else
            i.icon-star-empty

mixin years(count)
    if typeof count !== 'number'
        span!=count
    else if count < 1000
        if count < 1
            span Less than a year
        else if count === 1
            span 1 year
        else
            span=count + ' years'
    else
        - count = new Date().getFullYear() - count
        if count === 1
            span 1 year
        else
            span=count + ' years'

section#skills.block
    h3 Skills

    - each group, groupTitle in skills
        div.group(class='group-' + groupTitle.replace(new RegExp('[^a-z]', 'gi'), '').toLowerCase())
            h4=groupTitle

            - each skill, skillTitle in group
                - var name = skillTitle.replace(new RegExp('[^a-z]', 'gi'), '').toLowerCase();
                div.row.wow
                    div.icon(class='icon-' + name)

                    div.title=skillTitle

                    div.exp
                        +years(skill[0])

                    div.level
                        +stars(skill[1])
