doctype html
html(lang='en')
    head
        title=settings.title

        - if (baseUrl)
            base(href=baseUrl)

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(content=settings.avatar, name='twitter:image:src')
        meta(content='@' + settings.site, name='twitter:site')
        meta(content='summary', name='twitter:card')
        meta(content=settings.title, name='twitter:title')
        meta(content=settings.description, name='twitter:description')
        meta(content=settings.avatar, property='og:image')
        meta(content=settings.title, property='og:site_name')
        meta(content='profile', property='og:type')
        meta(content=settings.title, property='og:title')
        meta(content=settings.url, property='og:url')
        meta(content=settings.description, property='og:description')

        - if (isPdf)
            link(rel='stylesheet', href='/css/pdf.css')
        - else
            - var hash = Math.random().toString(36).substring(10);
            link(rel='stylesheet', media='all', href='/css/screen.css?' + hash)
            script(type='text/javascript', src='js/main.js?' + hash)

    body
        #container
            include ./templates/navigation

            include ./templates/slide-general

            include ./templates/slide-skills

            include ./templates/slide-experience

            include ./templates/slide-download
