doctype html
html(lang='en')
    head
        title=settings.title

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(content=settings.avatar, name='twitter:image:src')
        meta(content='@' + settings.site, name='twitter:site')
        meta(content='summary', name='twitter:card')
        meta(content=settings.title, name='twitter:title')
        meta(content=settings.description, name='twitter:description')
        meta(content=settings.avatar, property='og:image')
        meta(content=settings.title, property='og:site_name')
        meta(content='profile', property='og:type')
        meta(content=settings.title, property='og:title')
        meta(content=settings.url, property='og:url')
        meta(content=settings.description, property='og:description')

        - if (isPdf)
            - var css = inline('pdf.css');
            style(type='text/css')!= css
        - else
            - var css = inline('screen.css');
            - var js = inline('main.js');
            style(type='text/css', media='all')!= css
            script(type='text/javascript')!= js

        mixin svg(iconName, className)
            - var xml = svg(iconName)
            i.icon(class='icon-' + iconName + ' ' + (className || ''))!= xml

    body
        #container
            include ./templates/navigation

            include ./templates/slide-general

            include ./templates/slide-skills

            include ./templates/slide-experience

            include ./templates/slide-download
